In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress
#from sklearn.linear_model import LinearRegression

In [2]:
grocery_data_path  = os.path.join("clean_grocery.csv")
grocery_data = pd.read_csv(grocery_data_path)

totals_data_path  = os.path.join("Totals.csv")
totals_data = pd.read_csv(totals_data_path)

race_data_path  = os.path.join("Race.csv")
race_data = pd.read_csv(race_data_path)

poverty_data_path  = os.path.join("PovertyLevel.csv")
poverty_data = pd.read_csv(poverty_data_path)

income_data_path  = os.path.join("Income.csv")
income_data = pd.read_csv(income_data_path)

#MOE_data_path  = os.path.join("MOE.csv")
#MOE_data = pd.read_csv(MOE_data_path)

In [3]:
income_data

,CENSUS TRACT,Median Income,Median Income no benefits,Median Income w benefits
0,17031010100,37985,58029,10982
1,17031010201,39549,54265,15777
2,17031010202,38370,45000,21125
3,17031010300,38866,41724,14868
4,17031010400,39152,42318,-
...,...,...,...,...
1314,17031843800,34375,43456,23839
1315,17031843900,34381,50374,10924
1316,17031980000,-,-,-
1317,17031980100,-,-,-
1318,17031990000,-,-,-

In [4]:
poverty_data

,CENSUS TRACT,Total At/Above poverty level,Total Below poverty level,At/Above poverty level receiving benefits,At/Above not receiving benefits,Below poverty level receiving,Below Poverty Level not receiving
0,17031010100,1567,749,112,1455,321,428
1,17031010201,1979,709,323,1656,528,181
2,17031010202,889,213,147,742,85,128
3,17031010300,2571,466,265,2306,205,261
4,17031010400,1518,420,155,1363,122,298
...,...,...,...,...,...,...,...
1314,17031843800,509,115,104,405,95,20
1315,17031843900,1536,442,228,1308,257,185
1316,17031980000,0,0,0,0,0,0
1317,17031980100,0,0,0,0,0,0
1318,17031990000,0,0,0,0,0,0

In [5]:
totals_data

,CENSUS TRACT,Total HH,HH above poverty level,HH below Poverty Level,HH receiving benefits,HH not receiving benefits,HH White alone,HH Black Alone,HH American Indian alone,HH Asian alone,HH Pacific Islander alone,HH Other race alone,HH Two or more races,HH Hispanic or Latino origin (any race),Total Median Income
0,17031010100,2316,1567,749,433,1883,1158,1003,0,28,0,37,90,215,37985
1,17031010201,2688,1979,709,851,1837,1379,914,15,51,0,205,124,513,39549
2,17031010202,1102,889,213,232,870,425,431,14,69,0,146,17,251,38370
3,17031010300,3037,2571,466,470,2567,1884,828,0,28,0,160,137,418,38866
4,17031010400,1938,1518,420,277,1661,1448,323,0,89,0,17,61,93,39152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,17031843800,624,509,115,199,425,184,404,0,28,0,8,0,72,34375
1315,17031843900,1978,1536,442,485,1493,105,1716,0,66,0,55,36,80,34381
1316,17031980000,0,0,0,0,0,0,0,0,0,0,0,0,0,-
1317,17031980100,0,0,0,0,0,0,0,0,0,0,0,0,0,-
1318,17031990000,0,0,0,0,0,0,0,0,0,0,0,0,0,-

In [6]:
# grocery store by census tract variable

In [7]:
#Merge Income & Poverty etc.

In [8]:
# Linear Regression of Income & receiving benefits

#r = stats.pearsonr(totals_data["HH receiving benefits"],income_data["Median Income"])
#rsq = r[1]

#Run Linear Regression
#(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(cap_weight_mean, cap_tumor_mean)
#regress_values = cap_weight_mean * slope + intercept
#line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))


#plt.scatter(cap_weight_mean,cap_tumor_mean)
#plt.plot(cap_weight_mean,regress_values,"r-")

#Format the Figure
#plt.xlabel("Mouse Weight")
#plt.ylabel("Average Tumor Volume")
#plt.title("Tumor Volume versus Mouse Weight for Capomulin Treatment Group")

#Save the figure to Images
#plt.savefig("Images/RegressionPlot.png")

In [9]:
clean_income = income_data.loc[income_data['Median Income'] != "-"]

In [16]:
clean_merge = pd.merge(clean_income, totals_data, on=["CENSUS TRACT"])
clean_merge.count()

CENSUS TRACT                               1315
Median Income                              1315
Median Income no benefits                  1315
Median Income w benefits                   1315
Total HH                                   1315
HH above poverty level                     1315
HH below Poverty Level                     1315
HH receiving benefits                      1315
HH not receiving benefits                  1315
HH White alone                             1315
HH Black Alone                             1315
HH American Indian alone                   1315
HH Asian alone                             1315
HH Pacific Islander alone                  1315
HH Other race alone                        1315
HH Two or more races                       1315
HH Hispanic or Latino origin (any race)    1315
Total Median Income                        1315
dtype: int64

In [14]:
receiving = clean_merge["HH receiving benefits"]
income = clean_merge["Median Income"]

#plt.scatter(receiving,income)

r = stats.pearsonr(receiving,income)
#rsq = r[1]

#(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(receiving, income)
#regress_values = cap_weight_mean * slope + intercept
#line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))


#plt.scatter(cap_weight_mean,cap_tumor_mean)
#plt.plot(cap_weight_mean,regress_values,"r-")

#Format the Figure
#plt.xlabel("Mouse Weight")
#plt.ylabel("Average Tumor Volume")
#plt.title("Tumor Volume versus Mouse Weight for Capomulin Treatment Group")

#Save the figure to Images
#plt.savefig("Images/RegressionPlot.png")

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U32'), dtype('<U32')) -> dtype('<U32')